# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\yinon\OneDrive\מסמכים\קוח\חיפוש עבודה\onerobotix\ArticlesSummarizer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
